{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="hero-section container h-100">
        <div class="row h-100">
          <div class="col-md-12 mb-4 white-text text-center">
              <!-- Landing Page and call to action -->
            <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5"><strong>Ciclo Italia</strong></h1>
            <hr class="hr-light my-4">
            <h4 class="text-uppercase mb-4 white-text"><strong>The Finest Italian Road Bikes</strong></h4>
            <a class="btn btn-outline-white" href="{% url 'bikes' %}">Shop Now</a>
            <a class="btn btn-outline-white" href="{% url 'blog_list' %}">View Cycling Blog</a>
            <a class="btn btn-outline-white" href="{% url 'review_list' %}">Read Bike Reviews</a>
          </div>
        </div>
</div>
{% endblock %}